<footer>
  <div class="container">
      <div class="row text-center">
          <div class="col-md-4">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <span class="footer-title text-light">Baqala Pvt.Ltd</span>
                  </li>
                  <li class="nav-item">
                      <span class="footer-title text-secondary">Made with <i class="fa-solid fa-heart"
                              style="color: #cc0000;"></i> Sinan</span>
                  </li>
              </ul>
          </div>
          
          <div class="col-md-4">
              <ul class="list-inline social-buttons">
                  <li class="list-inline-item">

                  </li>
                  <li class="list-inline-item">

                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <span class="footer-title text-light">Contact & Support</span>
                  </li>
                  <li class="nav-item">
                    <span class="nav-link text-secondary">  Muhammed Sinan</span>
                </li>
                  <li class="nav-item ">
                      <span class="nav-link text-secondary"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></span>
                  </li>
                  <li class="nav-item">
                    <span class="nav-link text-secondary"><i class="fas fa-envelope"></i> sinanwork0@gmail.com</span>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-12">
              <span class="copyright quick-links ">Copyright &copy; sinan
                 2023
              </span>
          </div>
      </div>
  </div>
</footer>
